venv/
.env/
.env.*
.venv/
env/

__pycache__/
*.pyc
*.pyo
*$py.class

alembic/

*.db
*.sqlite3

*.ini
*.env

.DS_Store
./.DS_Store

.vscode/
.vscode/*.json
!.vscode/launch.json  # Keep debug config if useful

.cache/
.pytest_cache/

.mypy_cache/

pylint-report.txt

htmlcov/
coverage.xml
*.cover
*.py,cover

build/
dist/
*.egg-info/
.eggs/

*.log

*.reload

certs/*.key
certs/*.p12
.env
logs/
certs/
logs/
*.pyc
__pycache__/
